@use '../../harborn-style-guide/harborn-typography' as typography;
@use '../../harborn-style-guide/harborn-colorpalet' as color;

.banner {
  position: fixed;
  background-color: transparent;
  width: 100%;
  z-index: 1000;
  padding: 1.5rem 0;
  color: color.$color-harborn-darkblue;

  .site-title a,
  .main-navigation a {
    color: inherit;
  }
}

.banner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  padding: 0 30px;
}

body.has-hero-header-overlay {
  .banner {
    color: color.$color-white;

    .site-title a,
    .main-navigation a {
      color: color.$color-white;
    }
  }
}

@media (max-width: 1100px) {
  .banner .container {
    padding: 0 20px;
  }
}

@media (max-width: 900px) {
  .banner .container {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}