@use '../../harborn-style-guide/harborn-typography' as typography;
@use '../../harborn-style-guide/harborn-colorpalet' as color;

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.3s ease;

  &.is-visible {
    transform: translateY(0);
  }

  .sticky-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.75rem 2rem;
  }

  .logo-sticky {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;

    img,
    svg {
      max-height: 57px;
      width: auto;
      height: auto;
    }
  }

  .search-bar {
    border: 2px solid color.$color-harborn-dark;
    border-radius: 15px;
    background-color: transparent;
    width: 500px;

    .search-form {
      display: flex;
      width: 100%;
      max-width: 500px;
      border-radius: 5px;
      overflow: hidden;
    }

    input[type="search"],
    .search-field {
      width: 500px;
      flex-grow: 1;
      padding: 0.75rem 1rem;
      font-size: 1rem;
      background: none;
      border: none;
      outline: none;
      color: color.$color-harborn-dark;

      &::placeholder {
        color: color.$color-harborn-dark;
      }
    }
  }
}