// Primary colors
$color-harborn-dark: #122124; 
$color-harborn-lime: #ceff27;

// Secondary colors
$color-harborn-darkblue: #243282;   
$color-harborn-greyblue: #a3c2c4;   
$color-harborn-beige: #e0dbc7;      
$color-harborn-lightgrey: #efefef;

// General colors (for contrast)
$color-black: #000000;
$color-white: #ffffff;