@use '../../harborn-style-guide/harborn-typography' as typography;
@use '../../harborn-style-guide/harborn-colorpalet' as color;

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  color: color.$color-white;
  border: none;
  border-radius: 0;
  min-width: unset;
  min-height: unset;
  padding: 80px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  z-index: 1000;

  .back-to-top__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: color.$color-harborn-dark;
    border-radius: 50%;
    margin-bottom: 8px;
    transition: background-color 0.3s ease-in-out;
  }

  &:hover {
    .back-to-top__icon-wrapper {
      background-color: color.$color-black;
    }
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }

  svg {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 30px;
    height: 30px;
  }

  .back-to-top__text {
    @include typography.harborn-typography('body-text');
    color: color.$color-harborn-dark;
    font-weight: typography.$font-weight-space-grotesk-semibold;
  }

  @media (max-width: 1024px) {
    padding: 40px 40px;
    bottom: 16px;
    right: 16px;

    .back-to-top__icon-wrapper {
      width: 48px;
      height: 48px;
    }

    .back-to-top__text {
      font-size: 0.95rem;
    }
  }

  @media (max-width: 700px) {
    padding: 20px 20px;
    bottom: 12px;
    right: 12px;

    .back-to-top__icon-wrapper {
      width: 38px;
      height: 38px;
    }

    svg {
      width: 22px;
      height: 22px;
    }

    .back-to-top__text {
      font-size: 0.85rem;
    }
  }

  @media (max-width: 480px) {
    padding: 10px 10px;
    bottom: 8px;
    right: 8px;

    .back-to-top__icon-wrapper {
      width: 30px;
      height: 30px;
    }

    svg {
      width: 16px;
      height: 16px;
    }

    .back-to-top__text {
      font-size: 0.75rem;
    }
  }
}
